<div class="container-fluid">
  <div class="row justify-content-center mt-5 mb-4">
    <%= link_to t(".teams_index"), teams_path, class: "btn-lg btn-secondary col-3 text-center" %>
    <div class="btn-lg btn-primary col-3 text-center mx-1"><%= t(".title") %></div>
    <%= link_to t(".posts_index"), posts_path, class: "btn-lg btn-secondary col-3 text-center" %>
  </div>

  <div class="col-lg-10 mx-auto">
    <div class="row my-5">
      <div class="col-12 col-md-4">
        <% if @team.image.attached? %>
          <%= image_tag @team.image.variant(resize_to_fill: [600, 400]).processed, class: "img-fluid rounded shadow mb-2" %>
        <% else %>
          <%= image_tag "no_image", class: "img-fluid rounded mb-2" %>
        <% end %>
        <div>
          <% if @team.id == current_team.id %>
            <%= link_to t(".edit"), edit_team_registration_path(@team), class: "btn-sm btn-block btn-primary text-center mb-5" %>
          <% end %>
        </div>
      </div>  

      <div class="container col-12 col-md-8">
        <h3 class="mb-4"><%= @team.name %></h3>
        <div class="row">
          <p class="col-2 pr-0">代表者:</p>
          <%= simple_format (@team.representative), class: "col-10 pl-0" %>
        </div>
        <div class="row">
          <p class="col-2 pr-0">詳　細:</p>
          <%= simple_format (@team.introduction), class: "col-10 pl-0" %>
        </div>
        <div class="row">
          <p class="col-2 pr-0">活動日:</p>
          <%= simple_format (@team.location_and_day), class: "col-10 pl-0" %>
        </div>
        <div class="row">
          <p class="col-2 pr-0">Ｈ　Ｐ:</p>
          
          <% if @team.homepage.present? %>
            <%= link_to t(".team_hp"), @team.homepage, target: :_blank, class: "pl-0" %>
          <% else %>
            <p>未設定</p>
          <% end %>
          
        </div>
      </div>
    </div>
    <h4 class="mb-4"><%= t ".team_posts" %></h4>
    <div class="mb-5">
      <%= render partial: "teams/post", collection: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>
