<div class="container-fluid">
  <div class="row justify-content-center mt-5 mb-4">
    <%= link_to t(".teams_index"), teams_path, class: "btn-lg btn-secondary col-3 text-center" %>
    <%= link_to t(".posts_index"), posts_path, class: "btn-lg btn-secondary col-3 text-center mx-1" %>
    <div class="btn-lg btn-primary col-3 text-center"><%= t(".title") %></div>
  </div>

  <div class="col-lg-10 mx-auto">
    <div class="row my-5">
      <div class="col-4">
        <% if @team.image.attached? %>
          <%= image_tag @team.image.variant(resize_to_fill: [600, 400]).processed, class: "img-fluid rounded shadow mb-2" %>
        <% else %>
          <%= image_tag "no_image", class: "img-fluid rounded mb-2" %>
        <% end %>
        <div>
          <% if @team.id == current_team.id %>
            <%= link_to t(".edit"), edit_team_registration_path(@team), class: "btn-sm btn-block btn-primary text-center" %>
          <% end %>
        </div>
      </div>  

      <div class="container col-8">
        <h3 class="mb-4"><%= @team.name %></h3>
        <p>代表者: <%= @team.representative %></p>
        <div class="row col-12">
          <p>詳　細:</p>
          <p><%= simple_format (@team.introduction), class: "ml-1" %></p>
        </div>
        <p>活動日: <%= @team.location_and_day %></p>
        <p>Ｈ　Ｐ: <%= link_to @team.homepage, @team.homepage, target: :_blank %></p>
      </div>
    </div>
    <h4 class="mb-4"><%= t ".title" %></h4>
    <div class="mb-5">
      <%= render partial: "teams/post", collection: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>
