<div class="container-fluid mb-5">
  <div class="row justify-content-center mt-5 mb-4">
    <%= link_to t(".log_in"), team_session_path, class: "btn-lg btn-secondary col-3 text-center mx-1" %>
    <div class="btn-lg btn-primary col-3 text-center"><%= t(".title") %></div>
  </div>

  <div class="col-lg-6 mx-auto">
    <%= render "shared/errors", obj: @team %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :image %>
        <%= f.file_field :image, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", placeholder: "必須", class: "form-control" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autocomplete: "name", placeholder: "必須", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :representative %>
        <%= f.text_field :representative, autocomplete: "representative", placeholder: "必須", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :homepage %><i>(<%= t ".unless_hp" %>)</i>
        <%= f.text_field :homepage, autocomplete: "homepage", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :location_and_day %>
        <%= f.text_field :location_and_day, autocomplete: "location_and_day", placeholder: "必須", class: "form-control" %>
      </div>
      <div class="form-froup mb-3">
        <%= f.label :introduction %><br />
        <%= f.text_area :introduction, autocomplete: "introduction", placeholder: "必須", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= t(".minimum_password_length", length: @minimum_password_length) %>)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "必須", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "必須", class: "form-control" %>
      </div>
      <p class="actions mt-5">
        <%= f.submit t(".sign_up"), class: "btn btn-block btn-primary" %>
      </p>
    <% end %>
  </div>
</div>