<div class="card mb-5">
  <div class="card-header bg-transparent">
    <% if post.team.image.attached? %>
      <%= image_tag post.team.image.variant(resize_to_fill: [60, 60]).processed, class: "img-fluid rounded-circle" %>
    <% else %>
      <%= image_tag "no_image", class: "img-fluid rounded-circle" %>
    <% end %>
    <%= post.team.name %>
  </div>

  <%= link_to post do %>
    <div class="card-title">
      <p><%= truncate(post.title, length: 30) %></p>
    </div>
  <% end %>
  <div class="card-body">
    <p><%= truncate(post.body, length: 50) %></p>

    <hr>

    <% post.comments.last(3).each do |comment| %>
      <p>
        <%= image_tag comment.team.image.variant(resize_to_fill: [20, 20]).processed, class: "img-fluid rounded-circle" %>
        <%= comment.team.name %>
        <%= truncate(comment.response, length: 30) %>
      </p>
    <% end %>

    <%= form_with model: @comment, url: comments_path, class: "form-group row mx-auto ", local: true do |f| %>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.text_area :body, class: "col-8 form-control" %>
      <%= f.submit t(".submit"), class: "col-4" %>
    <% end %>
  </div>
</div>
