<div class="col-lg-12 mx-auto">
  <h4 class="text-center"><%= t ".title" %></h4>
  <div class="">
    <% if @post.team.image.attached? %>
      <%= image_tag @post.team.image.variant(resize_to_fill: [32, 32]).processed, class: "img-thumbnail rounded-circle" %>
    <% else %>
      <%= image_tag "no_image", class: "img-thumbnail rounded-circle" %>
    <% end %>
    <%= @post.team.name %>
    <hr>
  </div>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-lg-11">
        <div class="card-title">
          <%= simple_format (@post.title) %>
        </div>
        <div class="card-body">
          <%= simple_format (@post.body) %>

          <% @post.comments.each do |comment| %>
            <p>
              <%= image_tag comment.team.image.variant(resize_to_fill: [20, 20]).processed, class: "img-fluid rounded-circle" %>
              <%= comment.team.name %>
              <%= comment.response %>
            </p>
          <% end %>
        </div>

        <%= form_with model: @comment, url: comments_path, class: "row mx-auto ", local: true do |f| %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.text_field :response, class: "col-8 form-control" %>
          <%= f.submit t(".submit"), class: "col-4" %>
        <% end %>

      </div>
    </div>
  </div>
  <% if team_signed_in? && current_team.id == @post.team_id %>
    <p>
      <%= link_to t(".edit"), edit_post_path(@post), method: :get, class: "btn btn-block btn-primary col-lg-11 mx-auto" %>
    </p>
    <p>
      <%= button_tag t(".delete"), class: "btn btn-block btn-warning col-lg-11 mx-auto", data: { toggle: "modal", target: "#delete-post" } %>
    </p>
  <% end %>
</div>

<%= render "delete_modal", post: @post %>